<!doctype html>

<html>
<head>
	<title>hangouts R us - Friends</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/groups.css" rel="stylesheet">
	<link href="/css/sidebar.css" rel="stylesheet">
 	<link href="/css/style.css" rel="stylesheet">
 	<link href="/css/photogallery.css" rel="stylesheet">
	<link rel='stylesheet' href='fullcalendar/fullcalendar.css' />
	<link rel="stylesheet" type="text/css" media="screen" href="http://cdnjs.cloudflare.com/ajax/libs/fancybox/1.3.4/jquery.fancybox-1.3.4.css" />
	<style type="text/css">
	    a.fancybox img {
	        border: none;
	        box-shadow: 0 1px 7px rgba(0,0,0,0.6);
	    } 
	</style>
	<!-- this is a comment in HTML -->    
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
</head>
<body>
	<div id="wrapper">
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		<div id="sidebar-wrapper">	
			<div class="sidebar-nav">
				<li><div id="profileName">
						<img align="middle" class="img-rounded" src="images/icson.jpg" onError="this.src='images/placeholder.png';"> </img>
					</div>
					<a id="sidebarName"> Cheese Corn</a>
				</li><hr>
				<li><a href="homepage">Home</a></li><hr>
				<li><a href="friends">Your Friends</a></li>
				<li><a href="gallery">Your Photos</a></li>
				<li><a href="viewGroups">Your Groups</a></li>
				<li><a href="upcomingEvents">Upcoming Events</a></li>
				<a href="#menu-toggle" id="menu2-toggle"> <button id="backButton" type="button" class="btn"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true">
					</span> Back</button></a>
				<a href="index"> <button id="logoutButton" type="button" class="btn"><span class="glyphicon glyphicon-off" aria-hidden="true">
					</span> Log Out</button></a>
			</div>
		</div> <!-- end of sidebar wrapper -->

		<div id="page-content-wrapper">
			<!-- <a style = "position:absolute; top:15; left:15;" href="#menu-toggle" class="btn btn-default" id="menu-toggle">
				<span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>    Toggle Menu
			</a> -->
			<div class="container-fluid">
				<div class="jumbotron">
					<h1>Your Friends</h1>
					<p>oh look! you have friends!</p>
				</div>
				<div class="miniNavBar">
					<table class="miniNavTable"> 
						<tr>
							<td> <a href="#menu-toggle"  id="menu3-toggle"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							    Toggle Menu
							</a></td>
							<td> <a href="#" id="addFriend"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
							    Add Friend
							</a></td>
							<td>
								<a href="#" id="newGroup">
								<span class="glyphicon glyphicon-plus"></span>
								Make Group from Friends</a>
							</td>
							<td>
								<a href="#" id="editFriends">
								<span class="glyphicon glyphicon-edit"></span>
								Edit Friends</a>
							</td>

						</tr>
					</table>
				</div>
				<hr>

				
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<div class="btn-group"><a href="/viewGroups" class="btn btn-default" style="float:left;">Groups</a></div>

					<div class="btn-group"><a href="#" class="btn btn-default btn-group active-btn" style="float:right;">Friends</a></div>
				</div>
				
				<br>


				<!-- COLLAPSABLE FORM FOR NEW FRIEND -->
				<div id="submenu" style="margin-bottom: 20px;">
					<form role="form" method="get" action="/addFriend">
					  <div class="form-group">
					    <label for="name">New Friend's Email/ID</label>
					    <input type="text" class="form-control" id="name" placeholder="Name" name="name">
					  </div>
					  <input type="submit" id="submitBtn" class="btn btn-default" value="Add Friend"></input>
					</form>
				</div>

				<!-- COLLAPSABLE FORM FOR REMOVING FRIEND -->
				<div class="removeFriends">
					<h3>Remove Friends</h3>
					<form role="form" method="get" action="/removeFriend">
					    {{#each friends}}
					    <input class="friend" type="radio" name="removename" value="{{name}}">{{name}}<br>
						{{/each}}

						<input type="button" id="submitBtn" class="btn btn-default" onclick="document.getElementById('cd-popup').style.display='block';" value="Remove Friend"></input>

				<div id="cd-popup" role="alert">
						<div class="cd-popup-container">
							<p style="text-align:center;">Are you sure you want to remove this friend?</p><br><br>
							<ul class="cd-buttons">
								<li><input id="submitBtn" class="btn btn-default" onclick="document.getElementById('cd-popup').style.display='none';" value="Keep Friend"></input></li>
								<li><input type="submit" id="submitBtn" class="btn btn-default" value="Remove Friend"></input></li>
							</ul>
						</div>
				</div>

					</form>
				</div>

				<!-- LIST OF FRIENDS -->
				<div class="listFriends">
					<h3>Your Friends</h3>
					{{#each friends}}
						<ul>
						<li>{{name}}</li>
						</ul>	
					{{/each}}
				</div>
				
				<!-- COLLAPSABLE FORM FOR GROUPING FRIENDS -->
				<div class="groupFriends">
					<h3>Make A New Group from Friends</h3>
					<form role="form" method="get" action="/addGroup">
					    {{#each friends}}
					    <input class="friend" type="checkbox" name="friend" value="{{name}}">{{name}}<br>
						{{/each}}

						<div class="form-group">
						    <label for="name">Choose A Group Name</label>
						    <input type="text" class="form-control" id="name" placeholder="[the best group ever]" name="name">
						</div>
						<div class="form-group">
						    <label for="description">Description (Optional)</label>
						    <input type="text" class="form-control" id="description" placeholder="teamwork makes the dream work..." name="description">
						</div>

						<input type="submit" id="submitBtn" class="btn btn-default" value="Make New Group from Selection"></input>
					</form>
				</div> <!-- end groupFriends -->


			</div>
		</div>
	</div>

	 
    <script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.js"></script>
	<script>
		$("#newGroup").click(function(e) {
	        e.preventDefault();
	        $(".groupFriends").toggle();
	        $(".listFriends").toggle();
	        $("#submenu").hide();
	        $(".removeFriends").hide();
	    });

	    $("#editFriends").click(function(e) {
	        e.preventDefault();
	        $(".removeFriends").toggle();
	        $(".listFriends").toggle();
	        $("#submenu").hide();
	        $(".groupFriends").hide();
	    });

		$(document).ready(function() {
			$("#wrapper").toggleClass("toggled");
			$("#submenu").hide();
			$(".groupFriends").hide();
			$(".removeFriends").hide();
			$("#cd-popup").hide();
		});

		$("#addFriend").click(function(e) {
	        e.preventDefault();
	        $(".listFriends").show();
	        $("#submenu").toggle();
	        $(".groupFriends").hide();
			$(".removeFriends").hide();
			$("#cd-popup").hide();
	    });

	    $("#menu2-toggle").click(function(e) {
	        e.preventDefault();
	        $("#wrapper").toggleClass("toggled");
	    });

	    $("#menu3-toggle").click(function(e) {
	        e.preventDefault();
	        $("#wrapper").toggleClass("toggled");
	    });
    </script>
</body>
</html>